/* line 1, /Users/user/Desktop/design_cafe/sass/common.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

/* line 7, /Users/user/Desktop/design_cafe/sass/common.scss */
.container {
  width: 1020px;
  height: 100vh;
  margin: 0px auto;
  border: 1px solid #000; }

/* line 40, /Users/user/Desktop/design_cafe/sass/common.scss */
#header {
  width: 1020px;
  height: 100vh;
  background-color: #aa86e3; }
  /* line 16, /Users/user/Desktop/design_cafe/sass/common.scss */
  #header h2 {
    color: #fff; }
  /* line 21, /Users/user/Desktop/design_cafe/sass/common.scss */
  #header p1 {
    color: #fff; }
  /* line 46, /Users/user/Desktop/design_cafe/sass/common.scss */
  #header .home {
    position: relative;
    top: 30vh;
    left: 360px;
    display: block; }
    /* line 52, /Users/user/Desktop/design_cafe/sass/common.scss */
    #header .home h2 {
      font-weight: 700;
      font-size: 66px; }
    /* line 57, /Users/user/Desktop/design_cafe/sass/common.scss */
    #header .home p1 {
      margin-left: 57px;
      font-weight: 300;
      font-size: 25px; }
  /* line 64, /Users/user/Desktop/design_cafe/sass/common.scss */
  #header nav {
    margin-left: 570px;
    overflow: hidden; }
    /* line 68, /Users/user/Desktop/design_cafe/sass/common.scss */
    #header nav li {
      list-style-type: none;
      float: left; }
      /* line 72, /Users/user/Desktop/design_cafe/sass/common.scss */
      #header nav li a {
        text-decoration: none;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #fff;
        margin: 9px; }

/* line 128, /Users/user/Desktop/design_cafe/sass/common.scss */
#about {
  background-color: #f9f9f9;
  overflow: hidden;
  position: absolute; }
  /* line 28, /Users/user/Desktop/design_cafe/sass/common.scss */
  #about h1 {
    color: #182b2e;
    position: relative;
    top: 12.5vh;
    left: 460px; }
  /* line 133, /Users/user/Desktop/design_cafe/sass/common.scss */
  #about .box-about {
    width: 100%;
    height: 50vh;
    position: relative;
    left: 9.5%;
    top: 25%; }
    /* line 140, /Users/user/Desktop/design_cafe/sass/common.scss */
    #about .box-about .left-about {
      width: 25%;
      height: 50vh;
      background-color: #fff;
      float: left;
      margin-right: 3%;
      position: relative; }
      /* line 99, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .left-about img {
        height: 25vh;
        position: relative; }
      /* line 104, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .left-about h3 {
        display: inline-block;
        top: 50%;
        margin-top: 10px; }
      /* line 110, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .left-about p3 {
        display: block;
        top: 50%;
        line-height: 4vh; }
        /* line 116, /Users/user/Desktop/design_cafe/sass/common.scss */
        #about .box-about .left-about p3 span1 {
          line-height: 3em; }
        /* line 120, /Users/user/Desktop/design_cafe/sass/common.scss */
        #about .box-about .left-about p3 span2 {
          line-height: 2em; }
    /* line 145, /Users/user/Desktop/design_cafe/sass/common.scss */
    #about .box-about .center-about {
      width: 25%;
      height: 50vh;
      background-color: #fff;
      float: left;
      margin-right: 3%;
      position: relative; }
      /* line 99, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .center-about img {
        height: 25vh;
        position: relative; }
      /* line 104, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .center-about h3 {
        display: inline-block;
        top: 50%;
        margin-top: 10px; }
      /* line 110, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .center-about p3 {
        display: block;
        top: 50%;
        line-height: 4vh; }
        /* line 116, /Users/user/Desktop/design_cafe/sass/common.scss */
        #about .box-about .center-about p3 span1 {
          line-height: 3em; }
        /* line 120, /Users/user/Desktop/design_cafe/sass/common.scss */
        #about .box-about .center-about p3 span2 {
          line-height: 2em; }
    /* line 150, /Users/user/Desktop/design_cafe/sass/common.scss */
    #about .box-about .right-about {
      width: 25%;
      height: 50vh;
      background-color: #fff;
      float: left;
      margin-right: 3%;
      position: relative; }
      /* line 99, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .right-about img {
        height: 25vh;
        position: relative; }
      /* line 104, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .right-about h3 {
        display: inline-block;
        top: 50%;
        margin-top: 10px; }
      /* line 110, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .right-about p3 {
        display: block;
        top: 50%;
        line-height: 4vh; }
        /* line 116, /Users/user/Desktop/design_cafe/sass/common.scss */
        #about .box-about .right-about p3 span1 {
          line-height: 3em; }
        /* line 120, /Users/user/Desktop/design_cafe/sass/common.scss */
        #about .box-about .right-about p3 span2 {
          line-height: 2em; }

/* line 157, /Users/user/Desktop/design_cafe/sass/common.scss */
#story {
  background-color: #182b2e; }
  /* line 160, /Users/user/Desktop/design_cafe/sass/common.scss */
  #story .left-story {
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left; }
  /* line 167, /Users/user/Desktop/design_cafe/sass/common.scss */
  #story .right-story {
    display: block;
    position: relative;
    left: 10%;
    top: 20%; }
    /* line 16, /Users/user/Desktop/design_cafe/sass/common.scss */
    #story .right-story h2 {
      color: #fff; }
    /* line 21, /Users/user/Desktop/design_cafe/sass/common.scss */
    #story .right-story p1 {
      color: #fff; }
    /* line 174, /Users/user/Desktop/design_cafe/sass/common.scss */
    #story .right-story h2 {
      line-height: 33px; }
    /* line 178, /Users/user/Desktop/design_cafe/sass/common.scss */
    #story .right-story p1 {
      line-height: 33px; }

/* line 185, /Users/user/Desktop/design_cafe/sass/common.scss */
#menu {
  background-color: #f9f9f9; }
  /* line 28, /Users/user/Desktop/design_cafe/sass/common.scss */
  #menu h1 {
    color: #182b2e;
    position: relative;
    top: 12.5vh;
    left: 460px; }

/* line 190, /Users/user/Desktop/design_cafe/sass/common.scss */
#access {
  background-color: #f9f9f9; }
  /* line 28, /Users/user/Desktop/design_cafe/sass/common.scss */
  #access h1 {
    color: #182b2e;
    position: relative;
    top: 12.5vh;
    left: 460px; }
  /* line 192, /Users/user/Desktop/design_cafe/sass/common.scss */
  #access .box-access {
    text-align: center;
    width: 100%; }

/*# sourceMappingURL=common.css.map */