/* line 1, /Users/user/Desktop/design_cafe/sass/common.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300, 700; }

/* line 8, /Users/user/Desktop/design_cafe/sass/common.scss */
.container {
  width: 1275px;
  height: 100vh;
  margin: 0px auto; }

/* line 16, /Users/user/Desktop/design_cafe/sass/common.scss */
#header h2 {
  color: #fff; }

/* line 20, /Users/user/Desktop/design_cafe/sass/common.scss */
#header p1 {
  color: #fff; }

/* line 41, /Users/user/Desktop/design_cafe/sass/common.scss */
#header .home {
  z-index: 2;
  position: absolute;
  top: 40vh;
  left: 470px;
  display: block; }
  /* line 48, /Users/user/Desktop/design_cafe/sass/common.scss */
  #header .home h2 {
    font-weight: 700;
    font-size: 66px; }
  /* line 53, /Users/user/Desktop/design_cafe/sass/common.scss */
  #header .home p1 {
    margin-left: 57px;
    font-weight: 300;
    font-size: 25px; }

/* line 60, /Users/user/Desktop/design_cafe/sass/common.scss */
#header nav {
  font-size: 19px;
  z-index: 90;
  position: absolute;
  float: left;
  margin-left: 800px;
  overflow: hidden; }
  /* line 68, /Users/user/Desktop/design_cafe/sass/common.scss */
  #header nav li {
    list-style-type: none;
    float: left; }
    /* line 72, /Users/user/Desktop/design_cafe/sass/common.scss */
    #header nav li a {
      text-decoration: none;
      display: inline-block;
      font-weight: 700;
      color: #fff;
      margin: 9px; }
      /* line 85, /Users/user/Desktop/design_cafe/sass/common.scss */
      #header nav li a:hover {
        transition: 0.1s;
        border-bottom: 3px solid #FFF; }

/* line 93, /Users/user/Desktop/design_cafe/sass/common.scss */
#header #slide {
  background-color: #000;
  position: relative;
  width: 1275px;
  height: 100vh; }
  /* line 99, /Users/user/Desktop/design_cafe/sass/common.scss */
  #header #slide img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0; }

/* line 115, /Users/user/Desktop/design_cafe/sass/common.scss */
#main {
  width: 100vh;
  width: 100%;
  height: 410vh; }

/* line 121, /Users/user/Desktop/design_cafe/sass/common.scss */
.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 0.5s; }

/* line 127, /Users/user/Desktop/design_cafe/sass/common.scss */
.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0); }

/* line 180, /Users/user/Desktop/design_cafe/sass/common.scss */
#about {
  background-color: #f9f9f9; }
  /* line 27, /Users/user/Desktop/design_cafe/sass/common.scss */
  #about h1 {
    font-size: 250%;
    color: #182b2e;
    position: relative;
    top: 12.5vh;
    text-align: center; }
  /* line 184, /Users/user/Desktop/design_cafe/sass/common.scss */
  #about .box-about {
    width: 85%;
    position: relative;
    left: 15%;
    top: 25%; }
    /* line 190, /Users/user/Desktop/design_cafe/sass/common.scss */
    #about .box-about .left-about {
      width: 25%;
      height: 50vh;
      background-color: #fff;
      float: left;
      margin-right: 3%;
      position: relative;
      border-radius: 10px;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03); }
      /* line 146, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .left-about img {
        border-radius: 10px 10px 0px 0px;
        height: 25vh;
        position: relative; }
      /* line 152, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .left-about h3 {
        font-size: 18px;
        display: inline-block;
        position: relative;
        top: 50%;
        left: 11.5%;
        margin-top: 20px; }
      /* line 161, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .left-about p3 {
        color: #b1b1b1;
        display: block;
        margin-top: 5px;
        margin-left: 30px;
        top: 50%;
        font-size: 14px;
        line-height: 20px; }
    /* line 195, /Users/user/Desktop/design_cafe/sass/common.scss */
    #about .box-about .center-about {
      width: 25%;
      height: 50vh;
      background-color: #fff;
      float: left;
      margin-right: 3%;
      position: relative;
      border-radius: 10px;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03); }
      /* line 146, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .center-about img {
        border-radius: 10px 10px 0px 0px;
        height: 25vh;
        position: relative; }
      /* line 152, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .center-about h3 {
        font-size: 18px;
        display: inline-block;
        position: relative;
        top: 50%;
        left: 11.5%;
        margin-top: 20px; }
      /* line 161, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .center-about p3 {
        color: #b1b1b1;
        display: block;
        margin-top: 5px;
        margin-left: 30px;
        top: 50%;
        font-size: 14px;
        line-height: 20px; }
    /* line 200, /Users/user/Desktop/design_cafe/sass/common.scss */
    #about .box-about .right-about {
      width: 25%;
      height: 50vh;
      background-color: #fff;
      float: left;
      margin-right: 3%;
      position: relative;
      border-radius: 10px;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03); }
      /* line 146, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .right-about img {
        border-radius: 10px 10px 0px 0px;
        height: 25vh;
        position: relative; }
      /* line 152, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .right-about h3 {
        font-size: 18px;
        display: inline-block;
        position: relative;
        top: 50%;
        left: 11.5%;
        margin-top: 20px; }
      /* line 161, /Users/user/Desktop/design_cafe/sass/common.scss */
      #about .box-about .right-about p3 {
        color: #b1b1b1;
        display: block;
        margin-top: 5px;
        margin-left: 30px;
        top: 50%;
        font-size: 14px;
        line-height: 20px; }

/* line 208, /Users/user/Desktop/design_cafe/sass/common.scss */
#story {
  background-color: #182b2e; }
  /* line 211, /Users/user/Desktop/design_cafe/sass/common.scss */
  #story .left-story {
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left; }
  /* line 218, /Users/user/Desktop/design_cafe/sass/common.scss */
  #story .right-story {
    display: block;
    position: relative;
    left: 10%;
    top: 20%; }
    /* line 16, /Users/user/Desktop/design_cafe/sass/common.scss */
    #story .right-story h2 {
      color: #fff; }
    /* line 20, /Users/user/Desktop/design_cafe/sass/common.scss */
    #story .right-story p1 {
      color: #fff; }
    /* line 225, /Users/user/Desktop/design_cafe/sass/common.scss */
    #story .right-story h2 {
      line-height: 33px; }
    /* line 229, /Users/user/Desktop/design_cafe/sass/common.scss */
    #story .right-story p1 {
      line-height: 33px; }

/* line 265, /Users/user/Desktop/design_cafe/sass/common.scss */
#menu {
  background-color: #f9f9f9; }
  /* line 27, /Users/user/Desktop/design_cafe/sass/common.scss */
  #menu h1 {
    font-size: 250%;
    color: #182b2e;
    position: relative;
    top: 12.5vh;
    text-align: center; }
  /* line 270, /Users/user/Desktop/design_cafe/sass/common.scss */
  #menu .menu-contant {
    width: 100%;
    height: 50vh;
    position: relative;
    left: 19%;
    top: 25%; }
    /* line 277, /Users/user/Desktop/design_cafe/sass/common.scss */
    #menu .menu-contant .coffee {
      width: 30%;
      height: 50vh;
      background-color: #fff;
      float: left;
      margin-right: 3%;
      position: relative;
      border-radius: 10px;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03); }
      /* line 249, /Users/user/Desktop/design_cafe/sass/common.scss */
      #menu .menu-contant .coffee img {
        width: 100%;
        height: 60%;
        border-radius: 10px 10px 0px 0px; }
      /* line 255, /Users/user/Desktop/design_cafe/sass/common.scss */
      #menu .menu-contant .coffee h3 {
        color: #182b2e;
        font-size: 40px;
        display: block;
        margin: 10px 0px 0px 10px;
        border-left: 13px solid #182b2e;
        padding-left: 10px; }
    /* line 282, /Users/user/Desktop/design_cafe/sass/common.scss */
    #menu .menu-contant .tea {
      width: 30%;
      height: 50vh;
      background-color: #fff;
      float: left;
      margin-right: 3%;
      position: relative;
      border-radius: 10px;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03); }
      /* line 249, /Users/user/Desktop/design_cafe/sass/common.scss */
      #menu .menu-contant .tea img {
        width: 100%;
        height: 60%;
        border-radius: 10px 10px 0px 0px; }
      /* line 255, /Users/user/Desktop/design_cafe/sass/common.scss */
      #menu .menu-contant .tea h3 {
        color: #182b2e;
        font-size: 40px;
        display: block;
        margin: 10px 0px 0px 10px;
        border-left: 13px solid #182b2e;
        padding-left: 10px; }

/* line 310, /Users/user/Desktop/design_cafe/sass/common.scss */
#access {
  display: block;
  background-color: #f9f9f9; }
  /* line 27, /Users/user/Desktop/design_cafe/sass/common.scss */
  #access h1 {
    font-size: 250%;
    color: #182b2e;
    position: relative;
    top: 12.5vh;
    text-align: center; }
  /* line 316, /Users/user/Desktop/design_cafe/sass/common.scss */
  #access .box-access {
    width: 75%;
    height: 50vh;
    position: relative;
    left: 12.5%;
    top: 25%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.07); }
    /* line 325, /Users/user/Desktop/design_cafe/sass/common.scss */
    #access .box-access .left-access {
      border-radius: 10px 0px 0px 10px;
      width: 50%;
      height: 100%;
      float: left;
      overflow: hidden; }
    /* line 331, /Users/user/Desktop/design_cafe/sass/common.scss */
    #access .box-access .right-access {
      border-radius: 0px 10px 10px 0px;
      background-color: #fff;
      width: 50%;
      height: 100%;
      float: left; }
      /* line 336, /Users/user/Desktop/design_cafe/sass/common.scss */
      #access .box-access .right-access .right-access-common {
        background-color: #ef3636; }
        /* line 339, /Users/user/Desktop/design_cafe/sass/common.scss */
        #access .box-access .right-access .right-access-common h3 {
          float: left;
          display: block;
          position: relative;
          top: 50px;
          left: 15%;
          line-height: 0px;
          font-size: 13px; }
          /* line 348, /Users/user/Desktop/design_cafe/sass/common.scss */
          #access .box-access .right-access .right-access-common h3 span {
            line-height: 120px; }
        /* line 353, /Users/user/Desktop/design_cafe/sass/common.scss */
        #access .box-access .right-access .right-access-common p3 {
          letter-spacing: 0.7px;
          color: #b1b1b1;
          float: left;
          display: block;
          position: relative;
          top: 34px;
          left: 20%;
          font-size: 12px;
          line-height: 20px; }
          /* line 364, /Users/user/Desktop/design_cafe/sass/common.scss */
          #access .box-access .right-access .right-access-common p3 span {
            margin-right: 10px;
            line-height: 33px; }
          /* line 369, /Users/user/Desktop/design_cafe/sass/common.scss */
          #access .box-access .right-access .right-access-common p3 span1 {
            margin-right: 18px;
            line-height: 33px; }
  /* line 378, /Users/user/Desktop/design_cafe/sass/common.scss */
  #access a {
    display: block;
    position: relative;
    top: 200px;
    text-align: center;
    text-decoration: none;
    padding: 7px 14px;
    margin: 0px 550px;
    background-color: #182b2e;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    transition: 1s; }
    /* line 392, /Users/user/Desktop/design_cafe/sass/common.scss */
    #access a:hover {
      color: #182b2e;
      border: 1px solid #182b2e;
      background-color: #fff; }

/* line 429, /Users/user/Desktop/design_cafe/sass/common.scss */
footer {
  width: 100%;
  margin: 0px auto;
  padding: 30px 0px;
  text-align: center;
  background-color: #182b2e;
  color: #fff;
  font-weight: 700;
  font-size: 14px; }

/*# sourceMappingURL=common.css.map */